# File Forge

**Source**: `test/fixtures/sample-project`

**Timestamp**: Sat Feb 08 2025 11:36:35 GMT-0700 (Mountain Standard Time)

## Summary

Test summary

## Directory Structure

```

Test tree

```

## Files Content

```

Test content

```