# File Forge

**Source**: `test/fixtures/sample-project`

**Timestamp**: Sun Feb 09 2025 13:09:09 GMT-0700 (Mountain Standard Time)

## Summary

Test summary

## Directory Structure

```

Test tree

```

## Files Content

```

Test content

```