# File Forge

**Source**: `test/fixtures/sample-project`

**Timestamp**: Fri Feb 07 2025 12:32:14 GMT-0700 (Mountain Standard Time)

## Summary

Test summary

## Directory Structure

```

Test tree

```

## Files Content

```

Test content

```