# File Forge

**Source**: `test/fixtures/sample-project`

**Timestamp**: Thu Feb 06 2025 18:30:32 GMT-0700 (Mountain Standard Time)

## Summary

Test summary

## Directory Structure

```

Test tree

```

## Files Content

```

Test content

```